fastapi>=0.95.0
uvicorn[standard]>=0.22.0
python-telegram-bot>=13.15
motor>=3.1.1
loguru>=0.6.0
pydantic>=1.10.7
pydantic-settings>=2.9.1
langchain>=0.0.331
langchain_community>=0.3.23
langchain-openai>=0.3.15
openai>=0.27.0
pygsheets>=2.0.5
dramatiq>=1.10.0
redis>=4.5.0
python-dotenv>=0.21.0
mongo-migrate>=0.1.2
